<header>
    <ul class="navigation">
        <li><a href="/pages/home">Home</a></li>
        <li><a href="/pages/logout">Logout</a></li>
    </ul>
</header>
<h2>Admin Operations</h2>

<ul class="admin">
    <li><a href='/pages/admin/mod_album'>Add Album</a></li>

    <li><a href='/pages/admin/mod_photos'>Add Photo to Album<br></a></li>

    <li><button type="button" class="button" onclick="verifyAction()">Get Spotlight Photos</button>
        <p>Windows Spotlight Photos get copied from deep within your computer<br>
            and added to the site's database (Windows 10 users only).</p></li>
</ul>